html {
  scroll-behavior: smooth;
}
body {
  margin: 30px 50px;
  background-image: url(./matrix-gif-wallpaper-posted-by-michelle-mercado.gif);
}

.a {
  height: 200px;
  width: 170px;
  text-align: center;
  background-color: aqua;
  display: inline-block;
  border: 3px inset black;
  position: relative;
  left: 5%;
}

.s {
  color: blue;
  background-color: black;
  border: 20px;
  font-size: 17px;
  border-radius: 10px;
  padding: 5px 20px;
}
.s:hover {
  color: rgb(255, 106, 0);
  background-color: rgb(151, 116, 103);
  transform: scale(0.9);
  border-radius: 32px 64px;
}
